@model IEnumerable<Employee>;
@{
    ViewBag.Title = "All employees";
}
<div class="card-deck">
    @foreach (var emp in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@emp.Name</h3>
            </div>
            <div class="card-footer text-center">

                @*Different ways to create action link
                            1. URL actions
                            2. Html Action Link
                            3.Tag Helpers

                        @Html.ActionLink("View", "Details", "Home", new { id = emp.Id })
                        <a href="@Url.Action("Details","Home", new {id = emp.Id })" class="btn btn-primary">View</a>

                *@

                <a asp-controller="home" asp-action="Details" asp-route-id="@emp.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-danger">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/scripts/customeScripts.js"></script>
}